.container
  = link_to board_path(board) do
    .card
      .card_content
        .card_title
          = board.name
        .card_content
          = board.description
      = image_tag board.user.avatar_image, class: 'header_avatar dropbtn'